@charset "utf-8";
/* 
font-family: "Noto Sans KR", sans-serif;
font-family: "Roboto", sans-serif;
*/


/* main영역 */
/* .{
    width: calc(100% - 170px);
    margin: 0 auto;
} */
/* intro영역 */
.intro{
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, .5);
    padding-top: var(--padding-top)
}

.intro .introTop{
    display: flex;
    gap: 130px;
    align-items: center;
}
.intro p{
    font-size: 10.625rem;
    font-family: "Roboto", sans-serif;
}

.intro span {
    color: #888;
}

.intro .introBot{
    width: 100%;
    height: 640px;
    background: url(../images/introbg.png) no-repeat center/cover;
}

.intro .introBot p{
    font-family: "Roboto", sans-serif;
    text-align: right;
    color: rgba(255,255,255,.6);
    position: relative;
}

.intro .introBot p::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 685px;
    height: 10px;
    background: rgba(255, 255, 255, .6);
    border-radius: 15px;
}

/* about us 영역 */
.aboutUs{
    position: relative;
    height: 1200px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.aboutUs .aboutLeft{
    position: sticky;
    top: 150px;
    height: fit-content;
    padding: 250px 0 300px;
    margin-right: auto;
}

.aboutUs .aboutLeft h3{
    font-size: 1.625rem;
    color: var(--main-color);
    margin-bottom: 20px;
}
.aboutUs .aboutLeft p:nth-of-type(1) {
    font-size: 3.25rem;
    margin-bottom: 30px;
}
.aboutUs .aboutLeft p:nth-of-type(2) {
    color: var(--subtext-color);
    margin-bottom: 70px;
    line-height: 190%;
}

.aboutUs .aboutLeft a {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    padding: 15px 15px 15px 20px;
    color: #333;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    z-index: 1;
    transition: color 0.3s ease-out, border-color 0.3s ease-out;
}

.aboutUs .aboutLeft a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.5s ease-out;
}

.aboutUs .aboutLeft a:hover::before {
    width: 100%;
}

.aboutUs .aboutLeft a:hover {
    color: #fff;
    border-color: var(--main-color);
}

.aboutUs .aboutLeft a .material-symbols-outlined {
    font-size: 16px;
    color: #707070;
    transition: color 0.3s ease-out;
}

.aboutUs .aboutLeft a:hover .material-symbols-outlined {
    color: #fff;
}

.aboutUs .aboutRight{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    margin-top: auto;
    /* overflow: hidden; */
}
.aboutUs .aboutRight ul{
    position: absolute;
    top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 30px;
    width: 100%;
    transition: top .3s ease-out;
}

.aboutUs .aboutRight li{
    width: 100%;
    height: 420px;
    padding: 40px;
    background: #F2F2F2;
    border-radius: 30px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #e7e7e7;
}
.aboutUs .aboutRight li img{
    margin-bottom: auto;
}

.aboutUs .aboutRight li h4{
    font-size: 1.875rem;
    margin-bottom: 30px;
}

.aboutUs .aboutRight li p {
    font-size: 1.25rem;
    font-weight: var(--subfont-famliy);
    color: #888;
}

.aboutUs .aboutRight li:nth-child(even) {
    transform: translateY(240px);
}

/* plug영역 */
.plug {
    width: 100%;
    height: 500px;
    background: url(../images/plugbg.png) no-repeat center/cover;
}
.plug .pInner{
    position: relative;
    width: 100%;
        height: 100%;
}
.plug .pInner ul{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 1580px;
    justify-content: space-around;
}
.plug .pInner ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plug .pInner ul li:nth-of-type(1) p{
    font-size: 1.625rem;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fff;
}

.plug .pInner ul li:nth-of-type(2) {
    font-size: 3.5rem;
    transform: translateY(75px);
}

.plug .pInner ul li .txt1{
    transform: translateX(-175px);
}
.plug .pInner ul li:nth-of-type(2) strong{
    transform: translateX(30px);
}

.plug .pInner ul li .txt2 {
    transform: translateX(-25px);
}

.plug img{
    width: 350px;
    height: auto;
}

/* smart 영역 */
.smart{
    width: 100%;
    height: 100%;
    padding: 200px 0;
}


.smart .accordion {
    width: 1580px;
    display: flex;
    align-items: center;
    height: 600px;
    margin: 0 auto;
}

.smart .accordion .list {
    position: relative;
    width: 25%;
    color: #fff;
    height: 540px;
    transition: all .4s linear;
    overflow: hidden;
}

.smart .accordion .list:nth-child(1) {
    background-color: #006EFF;
}

.smart .accordion .list:nth-child(2) {
    background-color: #111833;
}

.smart .accordion .list:nth-child(3) {
    background-color: #0058CD;
}

.smart .accordion .list:nth-child(4) {
    background-color: #004094;
}

.smart .accordion .list .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s;
}

.smart .accordion .list:nth-child(1) .back {
    background: url(../images/smart1.jpg) no-repeat center/cover;
    width: 100%;
    height: 100%;
}

.smart .accordion .list:nth-child(2) .back {
    background: url(../images/smart2.jpg) no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.smart .accordion .list:nth-child(3) .back {
    background: url(../images/smart3.jpg) no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.smart .accordion .list:nth-child(4) .back  {
    background: url(../images/smart4.jpg) no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.smart .accordion .list .txt {
    position: relative;
    z-index: 1;
    padding: 90px 70px;
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0;
    transition: opacity .3s;
}

.smart .accordion .list .txt h4 {
    font-family: var(--subfont-famliy);
    font-size: 2.813rem;
    font-weight: 300;
    margin-bottom: 15px;
}

.smart .accordion .list .txt p {
    margin-bottom: 30px;
}

.smart .accordion .list .txt a {
    background-color: rgba(0,0,0,.5);
    display: inline-flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    border-radius: 60px;
    border: 1px solid #BDBDBD;
    padding-inline: 30px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    color: #fff;
    transition: color .3s, border .3s;
    z-index: 1;
}

.smart .accordion .list .txt .material-symbols-outlined {
    font-size: 16px;
}

.smart .accordion .list .txt a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    z-index: 0;
    transition: width 0.5s ease-out;
}

.smart .accordion .list .txt a:hover::before {
    width: 100%;
}

.smart .accordion .list .txt a:hover {
    color: #fff;
    border-color: var(--main-color);
}

.smart .accordion .list .txt a span {
    position: relative;
    z-index: 1;
}

/* .smart .accordion .list .txt a::before {
    z-index: 0;
} */
/* .smart .accordion .list .txt a:hover {
    background-color: transparent;
    color: #fff;
} */
/* .smart .accordion .list .txt a::after {
    border-color: #fff;
} */

.smart .accordion .list .tag {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(50%, -50%) rotate(90deg);
    white-space: nowrap;
    font-size: 1.125rem;
    font-family: var(--subfont-famliy);
}

.smart .accordion .list.active {
    width: 500%;
    height: 100%;
}

.smart .accordion .list.active .back {
    opacity: 1;
}

.smart .accordion .list.active .txt {
    opacity: 1;
}

/* coreTech */
.coreTech {
    width: 100%;
    padding: 0 0 330px;
}
.coreTech .corebg{
    background: url(../images/corebg.png) no-repeat center/cover;
    width: 100%;
    height: 526px;
}

.coreTech .tit {
    padding: 140px 0 155px;
    text-align: center;
}

.coreTech .tit h3{
    font-family: var(--subfont-famliy);
    font-size: 1.625rem;
    color: var(--main-color);
    margin-bottom: 5px;
}

.coreTech .tit p {
    font-size: 3.5rem;
    margin-bottom: 65px;
}

.coreTech ul{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
}

.coreTech ul li{
    width: 526px;
    height: 531px;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #d4d4d4;
}

.coreTech ul li a{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .5;
    transition: all .5s ease-out;
}

.coreTech ul li:hover a{
    opacity: 1;
    box-shadow: 20px 20px 30px rgba(0,0,0,.16);
}

.coreTech ul li:nth-child(1) img{
    width: 151px;
    margin-bottom: 45px;
}

.coreTech ul li:nth-child(2) img {
    width: 138px;
    margin-bottom: 45px;
}

.coreTech ul li h4 {
    font-size: 2.625rem;
    font-family: var(--subfont-famliy);
    margin-bottom: 20px;
}

.coreTech ul li .contxt {
    font-size: 1rem;
    margin-bottom: 60px;
}

.coreTech ul li .btn .material-symbols-outlined{
    font-size: 16px;
}

.coreTech ul li .btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    border-radius: 60px;
    border: 1px solid #BDBDBD;
    padding-inline: 30px;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-out;
    z-index: 1;
}

.coreTech ul li a .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    z-index: 0;
    transition: width 0.5s ease-out;
}

.coreTech ul li:hover a .btn::before {
    width: 100%;
}

.coreTech ul li:hover a .btn {
    color: #fff;
    border-color: var(--main-color);
}

.coreTech ul li a .btn span {
    position: relative;
    z-index: 1;
}

/* news */
.news{
    padding: 156px 0 140px;
}
.news ul{
    display: flex;
}
.news .newLeft{
    margin-right: auto;
}
.news .newLeft h3{
    font-size: 1.625rem;
    font-family: var(--subfont-famliy);
    color: var(--main-color);
}

.news .newLeft p {
    font-size: 3.5rem;
    font-weight: 700;
}
.news .newRight{
    width: 1024px;
}
.news .newRight dl {
    border-bottom: 1px solid #333;
    margin-bottom: 38px;
}

.news .newRight dl dt{
    font-size: 1.5rem;
    font-family: var(--subfont-famliy);
    color: #c8c8c8;
    margin-bottom: 16px;
}

.news .newRight dl dd {
    font-size: 1.688rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    color: var(--subtext-color);
}

.news .newRight dl dd .material-symbols-outlined {
    color: #333;
    font-weight: 200;
}
.news .newRight .info{
    transition: all .5s ease-out;
}

.news .newRight .info:hover{
    opacity: .7;
    transform: scale(1.01);
}

.news .newRight a:nth-last-of-type(1) {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    height: 60px;
    border-radius: 60px;
    border: 1px solid #BDBDBD;
    padding-inline: 30px;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-out;
    z-index: 1;
}
.news .newRight a:nth-last-of-type(1) .material-symbols-outlined{
    font-size: 16px;
    color: #707070;
}
.news .newRight a:nth-last-of-type(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    z-index: 0;
    transition: width 0.5s ease-out;
}

.news .newRight a:nth-last-of-type(1):hover::before {
    width: 100%;
}

.news .newRight a:nth-last-of-type(1):hover span{
    color: #fff;
    border-color: var(--main-color);
}

.news .newRight a:nth-last-of-type(1) span {
    position: relative;
    z-index: 1;
    transform: translateX(5px);
}

/* brand영역 */
.brand {
    padding: 0 0 175px;
}

.brand ul {
    display: flex;
}

.brand .brLeft {
    margin-right: auto;
}

.brand .brLeft h3 {
    font-size: 1.625rem;
    font-family: var(--subfont-famliy);
    color: var(--main-color);
}

.brand .brLeft p {
    font-size: 3.5rem;
    font-weight: 700;
}

.brand .brRight{
    width: 1024px;
    display: flex;
    gap: 16px;
}

.brand .brRight a{
    width: 540px;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    background: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    transition: all .3s ease-out;
}

.brand .brRight a:hover{
    opacity: .7;
    transform: scale(1.01);
}

.brand .brRight .brTxt p{
    font-size: 1.25rem;
}
.brand .brRight .golfTxt1 {
    margin-bottom: 15px;
}
.brand .brRight .golfTxt2 {
    margin-bottom: 7px;
}

.brand .brRight .brBtn{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #111833;
    opacity: .5;
}

.brand .brRight .brBtn .material-symbols-outlined{
    font-size: 16px;
    color: #111833;
}
