@charset "utf-8";


/* visual영역 */
.visual {
    width: 100%;
    height: 992px;
    background: url(../images/whobg.png) no-repeat center/cover;
    padding-top: var(--padding-subtop);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visual .visualTit {
    width: 100%;
    margin-bottom: 44px;
}

.visual h3 {
    font-size: 10.625rem;
    font-family: var(--subfont-famliy);
    font-weight: 500;
    position: relative;
    text-align: center;
}

.visual h3::before {
    content: '';
    display: block;
    background: #fff;
    width: 400px;
    height: 10px;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.visual h3::after {
    content: '';
    display: block;
    background: #fff;
    width: 400px;
    height: 10px;
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.visual .visTxt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-left: auto;
}

.visual .visTxt p {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 18px;
}

/* content1영역 */

.content1 {
    position: relative;
    height: 1600px;
}

.content1 .conInner {
    padding: 160px 0;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
}

.content1 h4 {
    font-size: 3.125rem;
    color: var(--main-color);
    font-family: var(--subfont-famliy);
    width: 400px;
}

.content1 .vision,
.content1 .mission {
    display: flex;
}

.content1 .visIn {
    width: 916px;
    height: 600px;
    background: #f8f8f8;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 96px;
}

.content1 .visIn .moveAni {
    width: 302px;
    height: 302px;
    position: relative;
    margin: 0 auto 50px;
}

.content1 .moveAni .move {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content1 .moveAni .move::before {
    display: block;
    content: '';
    width: 0px;
    opacity: 0;
    height: 100%;
    border-radius: 50%;
    border: 6px solid var(--main-color);
    animation: vision-move 2s var(--delay) infinite linear;
    transform: scaleX(1);
    will-change: width, opacity;
}

@keyframes vision-move {
    0% {
        width: 0px;
        opacity: 0;
    }

    5% {
        width: 10px;
        opacity: 1;
    }

    95% {
        width: 100%;
        opacity: .1;
    }

    100% {
        width: 105%;
        opacity: 0;
    }
}

.content1 .circleCon {
    position: relative;
    width: 358px;
    height: 358px;
    margin: 0 auto;
}

/* 중심 원 */
.content1 .coreCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid rgba(0, 110, 255, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 0; */
}


.content1 .leftCircle,
.content1 .rigthCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 253px;
    height: 70px;
}

/* 각각 회전 기울기 조절 */
.content1 .leftCircle {
    border: 6px solid rgba(0, 110, 255, .2);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 2;
}

.content1 .rigthCircle {
    border: 6px solid #006EFF;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 1;
}

.orbitSVG {
    position: absolute;
    top: 0;
    left: 0;
    width: 358px;
    height: 358px;
    pointer-events: none;
}

.orbit {
    transform-origin: 150px 150px;
    animation: orbitSpin 8s linear infinite;
}

@keyframes orbitSpin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content1 .conInner .vmtxt {
    text-align: center;
}

.content1 .conInner .vmtxt p {
    font-size: 32px;
    font-weight: 500;
    font-family: var(--subfont-famliy);
    margin-bottom: 20px;
}

.content1 .conInner .vmtxt span {
    line-height: 180%;
    color: var(--subtext-color);
}

/* content2 */
.content2 {
    width: 100%;
    height: 900px;
    background: #111833;
    position: relative;
    margin-bottom: 464px;
    z-index: 1;
    /* overflow: hidden; */
}

.content2 h4 {
    width: 100%;
    font-size: 20rem;
    font-family: var(--subfont-famliy);
    color: rgba(0, 110, 255, 0.08);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 76px;
    transform: translateX(-50%);
    z-index: 0;
}

.content2>p {
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
    padding-top: 214px;
}

.content2 .conInner {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 1;
}

.content2 .card {
    display: flex;
    gap: 10px;
}

.content2 .card li {
    background: #F2F2F2;
    border-radius: 30px;
    padding: 30px 20px;
    width: 385px;
    height: 420px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.16);
    text-align: center;

}

.content2 .iconWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.content2 .iconWrap .num {
    font-size: 1.5rem;
    color: #aaa;
    font-weight: 700;
    margin-bottom: 36px;
}

.content2 .textWrap p {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.content2 .textWrap span {
    color: var(--subtext-color);
    line-height: 170%;
}

.content2 .textWrap .twtEn {
    font-family: var(--subfont-famliy);
}

.content2 .conInner ul li:nth-of-type(1),
.content2 .conInner ul li:nth-of-type(2) {
    position: relative;
}

.content2 .conInner ul li:nth-of-type(1)::after,
.content2 .conInner ul li:nth-of-type(2)::after {
    content: '\276F';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #767676;
    color: #00A2E9;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    top: 50%;
    right: -6%;
    transform: translateY(160%);
    line-height: 140%;
    z-index: 2;
}

/* history영역 */
.history .container {
    position: relative;
}

.history .lineCover {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
}

.history .lineCover .circle {
    width: 982px;
    height: 982px;
    border-radius: 50%;
    border: 1px solid #ddd;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
}

.history .lineCover .line {
    width: 1px;
    height: 100%;
    background: #ddd;
    position: absolute;
    top: 0;
    left: 50%;
}

.history .lineCover .line::before {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ddd;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.history .hisCon {
    display: flex;
}

.history .conTop {
    padding-top: 104px;
    margin-bottom: 230px;
}

.history .hisCon .tit {
    width: 50%;
    color: #ddd;
}

.history .hisCon .tit h4 {
    font-size: 18.313rem;
    font-family: var(--subfont-famliy);
    margin-bottom: 12px;
}

.history .hisCon .tit p {
    font-size: 2.5rem;
}

.history .hisCon .hisYear {
    width: 50%;
    padding: 170px 0 0 97px;
    margin-bottom: 100px;
}

.history .hisCon .hisYear .year {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
}

.history .hisCon .hisYear .year.first {
    color: var(--main-color);
}

.history .hisCon .hisYear .round {
    width: 76px;
    height: 1px;
    background: #aaa;
    position: absolute;
    top: 50%;
    right: 103%;
}

.history .hisCon .hisYear .round::after {
    content: '';
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #aaa;
    border: 11px solid #e5e5e5;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 0;

}

.history .hisCon .hisYear .round.first {
    background: var(--main-color);
}

.history .hisCon .hisYear .round.first::after {
    background: var(--main-color);
    border-color: #B2D3FF;
}

.history .hisCon .hisYear .con {
    font-size: 1.125rem;
}

.history .hisCon .hisYear .con .conStr {
    font-weight: 700;
}

.history .hisCon .hisYear .con .conStr .conColor {
    color: var(--main-color);
}

.history .hisCon .hisYear .con li {
    position: relative;
    padding: 0 0 20px 25px;
}

.history .hisCon .hisYear .con li::before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #767676;
    position: absolute;
    top: 31%;
    left: 0;
    transform: translateY(-50%);
}

.history .hisCon .hisYear .con .conStr::before {
    background: var(--main-color);
}